<ion-header>
  <ion-toolbar>
    <ion-title>Perusahaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <br>
	<ion-card style="background-color: #F0FFF0">  
	   
   	<ion-card-header>
   		<img style="width: 200px; height: 200px; margin: 0 auto;" src="assets/gambar/ptm.jpg"/> 
   		<ion-card-title>PT Pertamina</ion-card-title>
   		<ion-card-subtitle>Jl Sorosutan No. 19</ion-card-subtitle>
   	</ion-card-header>

   	<ion-card-content>
   	<ion-checkbox></ion-checkbox>  
    <ion-label>Satpam</ion-label> <br>
    <ion-checkbox></ion-checkbox>  
    <ion-label>Administarasi</ion-label> <br> <br>
    <p>Syarat :  <br>
       1.Usia 16-26 Tahun <br>
       2.Pekerja Keras <br>
       3.Rajin <br>
       4.Tanggung Jawab</p>
     <ion-button expand="block" color="secondary">Upload CV</ion-button> 
     <ion-button (click)="showConfirm()" expand="block" color="secondary">Mendaftar</ion-button>  
   	</ion-card-content>       
    </ion-card>  
</ion-content>
