<ion-header>
	<ion-toolbar>
		<ion-title >Profile</ion-title>
	</ion-toolbar>
</ion-header>



<ion-content >

      
      <ion-card  class="bg" *ngFor="let item of profile" >

        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button >
            <ion-icon name="arrow-dropdown"></ion-icon>
          </ion-fab-button >
          <ion-fab-list side="bottom">
            <ion-fab-button type="submit" (click)="create()" class="btn btn-primary"><ion-icon name="add-circle-outline"></ion-icon></ion-fab-button>
            <ion-fab-button type="submit" (click)="edit()" class="btn btn-primary"><ion-icon name="settings"></ion-icon></ion-fab-button>
            <ion-fab-button type="submit" (click)="logout()" class="btn btn-primary"><ion-icon name="exit"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
        
    

        <ion-card-content style="text-align: center;">
          <img src="../assets/icon/koper.png" style="width: 100px; height: 100px; margin: 0 auto;">

      
      <ion-card-title class="font">Nama</ion-card-title>
      <ion-card>
      <ion-card-subtitle>{{item.Nama}}</ion-card-subtitle>
      </ion-card>
      

      <ion-card-title class="font">Tempat, Tanggal Lahir</ion-card-title>
      <ion-card>
      <ion-card-subtitle>{{item.TTL}}</ion-card-subtitle>
      </ion-card>

      <ion-card-title class="font">Alamat</ion-card-title>
      <ion-card>
      <ion-card-subtitle> {{item.Alamat}}</ion-card-subtitle>
      </ion-card>

      <ion-card-title class="font">Pendidikan Terakhir</ion-card-title>
      <ion-card>
      <ion-card-subtitle> {{item.PdT}}</ion-card-subtitle>
      </ion-card>

      <ion-card-title class="font">Handphone</ion-card-title>
      <ion-card>
      <ion-card-subtitle> {{item.HP}}</ion-card-subtitle>
      </ion-card>
    
    
    </ion-card-content>
  </ion-card>
</ion-content>