    .bg {
        background-color:#FFF8DC !important;
    }


    .font {
        font-weight: bold; 
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    



