<!-- <ion-header>
	<ion-toolbar>
		<ion-title>Create Profile</ion-title>
	</ion-toolbar>
</ion-header>




<ion-content class="ion-padding">

    
   
	<ion-card>
   
		  <ion-item>
			<ion-input placeholder="Nama" [(ngModel)]="profileNama"></ion-input>
		  </ion-item>
		
		  <ion-item>
			<ion-input placeholder="Tempat, Tanggal Lahir" [(ngModel)]="profileTTL"></ion-input>
		  </ion-item>
		
		  <ion-item>
			<ion-input placeholder="Alamat" [(ngModel)]="profileAlamat"></ion-input>
    </ion-item>
    
    <ion-item>
			<ion-input placeholder="Pendidikan Terakhir" [(ngModel)]="profilePdT"></ion-input>
    </ion-item>
    
    <ion-item>
			<ion-input placeholder="Handphone" [(ngModel)]="profileHP"></ion-input>
		</ion-item>
	 
	 
		  <ion-button fill="solid" expand="block" (click)="CreateRecord()" [disabled]="!profileNama || !profileTTL || !profileAlamat || !profilePdT || !profileHP">
			save

			
			
		  </ion-button>
		  
		</ion-card>
		
   
	
   
  </ion-content>